h1, h2, h3, h4, h5, h6, p, a {
	font-family: sans-serif;
}

.container {
	height:100%;
	max-width:1200px;
	margin:auto;
	margin-top: 10vh;
}

.spacer {
	height:5vh;
	width:100%;
	/*background: pink;*/
	display:block;
	clear:both;
}